#menu ul
{
    width:              2cm;
    list-style-type:    none;
    margin:             0px;
    padding:            0px;
}

#menu ul li
{
    width:      100%;
    margin:     0px;
    padding:    0px;
    text-align:     left;
    border-color:   red;
    border-style:   solid;
    border-width:   1px;
}

#menu ul li a
{
    display:            block;
    font-family:        "comic sans MS";
    text-decoration:    none;
    color:              black;

    width:              100%;
    padding:            5px;
    background-color:   white;
    border-color:       green;
    border-style:       solid;
    border-width:       5px; 
}

#menu ul li>a
{
    width:              auto;
}

#menu ul li a:hover
{
    background-color:       black;
    color:                  white;
    border-color:           red;
    border-style:           solid;
    border-width:           5px;
}
